html{
	height: 80%;
}

#lookup, #all{
	color: white;
	background-color:#3399ff;
	padding: 5px 5px 5px 5px;
	border-radius: 3px;
	border: 2px solid #3399ff;
}

#country{
	padding: 5px 5px 5px 5px;
	width: 20%;
}

body {
	height:100%;
	min-height: 100%;
	background-color: grey;
	font-family: Verdana, Sans-serif, Arial;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 auto;
}

#page{
	text-align: center;
	width: 90%;
	margin: 0 auto;
    background-color: white;
	padding: 100px 50px 50px 50px;
	height: auto;
	min-height: 100%;
	box-shadow:3px 0px 5px 5px black;
	-webkit-box-shadow:3px 0px 20px 5px black;
	-moz-box-shadow:3px 5px 0px 5px black;
}

#result{
    font-style: bold;
    text-align: left;
    font-size: 14pt;
}

p{
	color: grey;
	font-size: 10pt;
}

h1{
	padding: 15px 50px 15px 50px;
    font-size: 30px;
    width: 100%;
	margin: 0 auto;
    background-color: red;
	color: white;
    position: absolute;
	text-align: center;
	top: -0.1px;
	box-shadow:3px 0px 5px 5px black;
	-webkit-box-shadow:3px 0px 20px 5px black;
	-moz-box-shadow:3px 5px 0px 5px black;
}